.about {
  // .about__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column-reverse;
    row-gap: 22rem;

    &.container {
      padding-bottom: 25.2rem;
    }

    @media (min-width: 49.01em) {
      display: grid;
      align-content: end;
      row-gap: 3.6rem;
      grid-template-rows: 13rem minmax(22.9rem, auto);

      &.container {
        padding-bottom: 12.4rem;
      }
    }
  }

  // .about__heading

  &__heading {
    display: flex;
    flex-wrap: wrap;
    max-width: 194rem;

    @media (max-width: 49em) {
      max-width: 100rem;
      flex-direction: column;
      row-gap: 0.8rem;
    }
  }

  // .about__heading-txt

  &__heading-txt {
    .set-homepage-css & {
      @extend %ob-t;
    }

    @media (min-width: 49.01em) {
      &:first-child {
        margin-right: 72.5rem;
      }
      &:nth-child(3) {
        margin-left: 61.7rem;
      }
      &:nth-child(4) {
        margin-top: 0.5rem;
        margin-left: 92.2rem;
      }
    }

    @media (max-width: 49em) {
      &:nth-child(2) {
        margin-right: 0.8rem;
      }
      &:nth-child(2),
      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  // .about__text-wrap

  &__text-wrap {
    display: flex;
    justify-content: space-between;
    .set-homepage-css & {
      opacity: 0;
      transform: translateY(20%);
    }
  }

  // .about__text

  &__text {
    max-width: 55.2rem;

    @media (max-width: 49em) {
      &._desktop-only {
        display: none;
      }
    }

    @media (min-width: 49.01em) {
      &:first-child {
        max-width: 34.8rem;
      }
      &:last-child {
        max-width: 28.7rem;
      }
    }
  }
}

.homepage-video {
  position: absolute;
  z-index: 1;
  inset: 0;

  video {
    .set-homepage-css & {
      @extend %opacity;
    }
  }
}
