.hero {
  // .hero__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .set-homepage-css & {
      @extend %ob-t;
    }

    @media (min-width: 49.01em) {
      &.container {
        padding-top: 0.4rem;
      }
    }
  }

  // .hero__top

  &__top {
    margin-bottom: 12.3rem;

    @media (max-width: 49em) {
      margin-bottom: 12rem;

      transform: translateY(-2rem);

      .hero__txt {
        max-width: 33.4rem;
      }
    }

    .hero__txt {
      max-width: 34.8rem;
    }
  }

  // .hero__txt

  &__txt {
    @media (min-width: 49.01em) {
      max-width: 29rem;
    }
  }

  // .hero__heading

  &__heading {
    margin-bottom: 6.1rem;
    margin-left: auto;
    margin-right: auto;

    font: var(--h-xxl);
    letter-spacing: 0.4rem;

    @media (min-width: 49.01em) {
      margin-bottom: 15.4rem;

      letter-spacing: 0.7rem;
      word-spacing: -1.9rem;
      white-space: nowrap;
    }

    @media (max-width: 49em) {
      width: min-content;

      text-align: right;
    }
  }

  // .hero__bottom

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 26.6rem;

    @media (max-width: 49em) {
      .hero__txt {
        max-width: 38.4rem;
      }
    }

    @media (min-width: 49.01em) {
      padding: 0 2rem;
      padding-right: 0;

      grid-template-columns: 11.6fr 9fr 4fr;

      .hero__txt {
        &:nth-last-child(2) {
          grid-column: 2/3;
        }
        &:last-child {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
