.leaders {
  --opacity: 0;

  @media (min-width: 49.01em) {
    &::before {
      content: '';

      position: absolute;
      z-index: 4;
      top: 9.4rem;
      left: 0;

      width: 100%;
      height: 2.9rem;

      background: url(@img/vectors/2131327191.svg) center / cover repeat;

      opacity: var(--opacity);
    }
  }

  // .leaders__container

  &__container {
    opacity: 0;
  }

  // .leaders__content

  &__content {
    position: absolute;
    inset: 0;

    padding-top: 93.2rem;

    @media (min-width: 49.01em) {
      padding-top: 12.8rem;
    }
  }

  // .leaders__group

  &__group {
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 100%;

    transform: translateX(-50%);

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:not(._is-visible, &_center) {
      opacity: 0;
      transform: translateX(-50%) translateY(5rem);
    }

    &:nth-child(2) {
      z-index: 1;
      .leaders__images-wrap {
        width: 133rem;

        @media (max-width: 49em) {
          width: 114rem;

          // ._hf & {
          //   width: 101rem;
          // }
        }
      }
      .leaders__image {
        width: 48.7rem;

        // ._hf & {
        //   width: 36.7rem;
        // }

        @media (min-width: 49.01em) {
          width: 57.7rem;

          ._small-screen &,
          ._hf & {
            width: 49.7rem;
          }
        }
      }
    }

    &:nth-child(3) {
      @media (max-width: 49em) {
        display: none;
      }

      .leaders__images-wrap {
        width: 180.5rem;
      }
      .leaders__image {
        width: 48.5rem;

        @media (min-width: 49.01em) {
          ._small-screen &,
          ._hf & {
            width: 42.5rem;
          }
        }
      }
    }

    // .leaders__group_center

    &_center {
      z-index: 3;

      .leaders__image {
        width: 72.8rem;
        height: 98.4rem;

        @media (min-width: 49.01em) {
          ._small-screen &,
          ._hf & {
            height: 84.4rem;
          }
        }

        @media (max-width: 49em) {
          height: 141.4rem;
        }
      }
    }
  }

  // .leaders__images-wrap

  &__images-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

    @media (max-width: 49em) {
      &::after {
        content: '';

        position: absolute;
        inset: 0;

        background: linear-gradient(
          167.68deg,
          rgba(0, 0, 0, 0) 34.05%,
          rgba(0, 0, 0, 0.9) 64.06%
        );
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
  }

  // .leaders__image-wrap

  &__image-wrap {
    position: relative;
  }

  // .leaders__arr-btn

  &__arr-btn {
    position: absolute;
    top: 45.9%;

    transform: translateY(-50%);

    @media (max-width: 49em) {
      display: none;
    }

    &_prev {
      left: 0;

      transform: translateY(-50%) rotate(180deg);
    }

    &_next {
      right: 0;
    }

    svg {
      width: 2.1rem;
      height: 1.8rem;
    }
  }

  // .leaders__image

  &__image {
    @media (max-height: 1000px) and (min-width: 49.01em) {
      // height: 70rem;
    }
    @media (min-width: 49.01em) {
      &._mobile-only {
        display: none;
      }
    }
    @media (max-width: 49em) {
      &._desktop-only {
        display: none;
      }
    }
  }

  // .leaders__group-heading

  &__group-heading {
    &_main {
      position: relative;

      display: flex;
      justify-content: space-between;

      .set-homepage-css & {
        @extend %ob-t;

        transition: opacity 1s ease-in-out, transform 1s ease-in-out,
          filter 0.8s ease-in-out 0.5s;
      }

      @media (max-width: 49em) {
        margin-left: 2rem;

        flex-direction: column;
        row-gap: 0.4rem;
        width: 97%;

        span:last-child:not(:first-child) {
          margin-right: 2rem;
          margin-left: auto;
        }
      }
    }

    &:not(&_main) {
      position: absolute;
      z-index: -1;
      top: 9.7rem;
      left: 50%;

      font-size: 38.757rem;
      line-height: 82.1%;
      letter-spacing: 0.4rem;
      font-weight: 800;
      font-style: italic;
      text-transform: uppercase;
      font-family: var(--ff-heading);

      transform: translateX(-50%) translateY(4rem);

      @media (max-width: 49em) {
        top: 18rem;

        font-size: 20.6rem;
      }
    }

    opacity: 0;

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &_main._is-active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }

    &:not(&_main)._is-active {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }

    @media (min-width: 49.01em) {
      ._mobile-only {
        display: none;
      }
    }

    @media (max-width: 49em) {
      z-index: 3;

      ._desktop-only {
        display: none;
      }
    }
  }
}
