.teams {
  --opacity: 0;

  &::before,
  &::after,
  &__container::before,
  &__container::after {
    content: var(--i-arr-solid);

    position: fixed;

    width: 2.6rem;
    height: 22.4rem;

    .set-homepage-css & {
      opacity: var(--opacity);
    }

    @media (max-width: 49em) {
      width: 4.52rem;
      height: 3.892rem;
    }
  }

  &::before {
    top: 10.2rem;
    left: 1.2rem;

    @media (max-width: 49em) {
      top: 13.4rem;
      left: 1.8rem;
    }
  }

  &::after {
    top: 10.2rem;
    right: 1.2rem;

    transform: scaleX(-1);

    @media (max-width: 49em) {
      top: 13.4rem;
      right: 1.8rem;
    }
  }
  // .teams__container

  &__container {
    display: flex;
    align-items: flex-start;

    &.container {
      padding-top: 12.9vh;
    }

    @media (min-width: 49.01em) {
      align-items: center;

      &.container {
        padding-top: 0;
      }
    }

    &::before {
      bottom: 10.1rem;
      left: 1.2rem;

      transform: scaleY(-1);

      @media (max-width: 49em) {
        bottom: 25.2rem;
        left: 1.8rem;
      }
    }

    &::after {
      bottom: 10.1rem;
      right: 1.2rem;

      transform: scale(-1, -1);

      @media (max-width: 49em) {
        bottom: 25.2rem;
        right: 1.8rem;
      }
    }
  }

  // .teams__list

  &__list {
    display: grid;
    row-gap: 10.6rem;
    width: 100%;

    @media (min-width: 49.01em) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15.2rem;
    }
  }

  // .teams__item

  &__item {
  }
}

.item-teams {
  --opacity: 0;
  --blur: 3rem;
  --skew1: 1deg;
  --skew2: 1deg;

  &:first-child {
    .item-teams__logo {
      transform: translate(-50%, -50%) scaleY(0.6) skewX(var(--skew1));
    }
  }
  &:last-child {
    .item-teams__logo {
      transform: translate(-50%, -50%) scaleY(0.6) skewX(var(--skew2));
    }
  }

  .set-homepage-css & {
    visibility: hidden;
  }

  @media (min-width: 49.01em) {
    padding: 1.3rem;
  }

  &::before,
  &::after,
  .border__inner::before,
  .border__inner::after {
    width: 1.6rem;
    height: 1.6rem;

    .set-homepage-css & {
      opacity: var(--opacity);
      filter: blur(var(--blur));
    }

    @media (max-width: 49em) {
      display: none;
    }
  }

  // .item-teams__inner

  &__inner {
    position: relative;

    display: flex;
    min-height: 63.6rem;
    border-radius: 0.4rem;

    overflow: hidden;

    &::before {
      content: '';

      position: absolute;
      inset: 0;

      .set-homepage-css & {
        opacity: var(--opacity);
        filter: blur(var(--blur));
      }

      background-color: var(--c-primary);
    }

    @media (max-width: 49em) {
      min-height: 18.5vh;
      border-radius: 0.8rem;
    }

    @media (any-hover: hover) {
      &:hover {
        .item-teams__bg {
          opacity: 1;
        }
        .item-teams__logo {
          svg {
            color: var(--c-primary);
          }
        }
      }
    }
  }

  // .item-teams__logo

  &__logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scaleY(0.6);
    transform-origin: center;

    svg {
      width: 39rem;

      color: var(--c-bg);

      transition: color 0.5s ease-in-out;

      @media (max-width: 49em) {
        width: 62rem;
      }
    }
  }

  // .item-teams__bg

  &__bg {
    position: absolute;
    inset: 0;

    border-radius: 0.4rem;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;

    &::after {
      content: '';

      position: absolute;
      inset: 0;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  // .item-teams__bg-content

  &__bg-content {
    height: 100%;

    object-fit: cover;
  }
}
