.team {
  // .team__container

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12.2rem;

    &.container {
      padding-top: 0.2rem;
    }

    @media (max-width: 49em) {
      justify-content: space-between;

      &.container {
        padding-top: 24rem;
        padding-bottom: 24rem;
      }
    }
  }

  // .team__text-wrap

  &__text-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 49em) {
      &._desktop-only {
        display: none;
      }
    }
  }

  // .team__txt

  &__txt {
    max-width: 50.1rem;

    .set-homepage-css & {
      opacity: 0;
      transform: translateY(100%);
    }

    @media (min-width: 49.01em) {
      max-width: 29.9rem;

      &:first-child:last-child {
        margin-left: auto;
      }
    }

    @media (max-width: 49em) {
      line-height: 131%;
    }
  }

  // .team__heading

  &__heading {
    padding-right: 1.5rem;

    display: flex;
    justify-content: space-between;

    span {
      .set-homepage-css & {
        @extend %ob-t;
      }
    }

    @media (max-width: 49em) {
      margin: 0 auto;
      padding-right: 0;

      flex-direction: column;
      row-gap: 1.2rem;
      max-width: 86rem;
      width: inherit;

      span:last-child:not(:first-child) {
        margin-left: auto;
        margin-right: 0.7rem;
      }
    }
  }
}
