%blur {
  opacity: 0;
  filter: blur(1rem);
}
%opacity {
  opacity: 0;
}
%ob-t {
  opacity: 0;
  filter: blur(1rem);
  transform: translateY(10%);
}
%o-t {
  opacity: 0;
  transform: translateY(10%);
}
