[data-section] {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  height: 100dvh;

  .container {
    flex: 1 1 auto;
  }

  &:not(._is-active) {
    opacity: 0;
    visibility: hidden;
  }
}

.homepage {
  height: 100dvh;

  overflow: hidden;

  .blur {
    opacity: 0;
    filter: blur(0.3rem);
  }

  .blur-t {
    opacity: 0;
    filter: blur(0.3rem);
    transform: translateY(14rem);
  }

  .opacity-t {
    opacity: 0;
    transform: translateY(14rem);
  }

  body {
    --y: 0;
    --opacity: 1;

    background-image: url(@img/vectors/bg.svg);
    background-position: 0 var(--y);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

    &::after {
      content: '';

      position: fixed;
      inset: 0;

      background: url(@img/vectors/2131327187.svg) center / 100% auto no-repeat;

      pointer-events: none;

      opacity: var(--opacity);

      @media (max-width: 49em) {
        background: url(@img/vectors/2131327189.svg) center / 100% auto
          no-repeat;
      }
    }
  }
  .wrapper {
    &::before,
    &::after {
      content: '';

      position: fixed;
      left: 0;

      width: 100%;
      height: 12.1rem;

      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 78.16%);

      filter: blur(1.35rem);

      @media (max-width: 49em) {
        left: -2rem;

        width: 107dvw;
        height: 51.4rem;

        filter: blur(2.7rem);
      }
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;

      transform: rotate(-180deg);

      @media (max-width: 49em) {
        bottom: -4rem;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;

  // .controls__btn

  &__btn {
    display: inline-flex;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    // .controls__btn_prev

    &_prev {
      transform: rotate(180deg);
    }

    // .controls__btn_next

    &_next {
    }
  }

  // .controls__fraction

  &__fraction {
  }
}

._hidden-scrollbar {
  flex-wrap: nowrap;
  overflow-x: scroll;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

._desktop-only {
  @media (max-width: 49em) {
    display: none;
  }
}
