[data-section],
.preloader {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  height: 100dvh;

  .container {
    flex: 1 1 auto;
  }
}

[data-section] {
  z-index: 3;
  &:not(._is-active) {
    opacity: 0;
    visibility: hidden;
  }
}

.border {
  position: relative;

  &::before,
  &::after,
  &__inner::before,
  &__inner::after {
    content: var(--i-border);

    position: absolute;

    width: 1.25rem;
    height: 1.25rem;

    @media (max-width: 49em) {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    top: 0;
    right: 0;

    transform: scaleX(-1);
  }

  // .border__inner

  &__inner {
    &::before {
      bottom: 0;
      left: 0;

      transform: scaleY(-1);
    }

    &::after {
      bottom: 0;
      right: 0;

      transform: scale(-1, -1);
    }
  }
}

.homepage {
  height: 100dvh;

  overflow: hidden;

  --y: 0;
  --opacity: 0;

  &::before {
    content: '';

    position: fixed;
    z-index: 2;
    inset: 0;

    background-image: url(@img/vectors/bg.svg);
    background-position: center var(--y);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;

    opacity: var(--opacity);
  }

  main {
    height: 100dvh;
  }

  body {
    --opacity: 0;
    &::after {
      content: '';

      position: fixed;
      inset: 0;

      background: url(@img/vectors/2131327187.svg) center / 100% auto no-repeat;

      pointer-events: none;

      opacity: var(--opacity);

      @media (max-width: 49em) {
        background: url(@img/vectors/2131327189.svg) center / 100% auto
          no-repeat;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;

  // .controls__btn

  &__btn {
    display: inline-flex;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    // .controls__btn_prev

    &_prev {
      transform: rotate(180deg);
    }

    // .controls__btn_next

    &_next {
    }
  }

  // .controls__fraction

  &__fraction {
  }
}

._hidden-scrollbar {
  flex-wrap: nowrap;
  overflow-x: scroll;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

._desktop-only {
  @media (max-width: 49em) {
    display: none;
  }
}
