:root {
  // colors
  --c-primary: #2bffe8;
  --c-bg: #000000;
  --c-secondary: #00191b;

  // font family
  --ff-main: "Suisse Int'l";
  --ff-heading: 'Heading Now';
  --ff-mono: 'Aeonik Mono';
  --ff-mono: 'Aeonik Mono';
  --ff-numeric: 'Druk Text Wide Cyr';

  // font size
  --fz-16: 1.6rem;

  // typography
  --txt-main: 400 var(--fz-16) / 1 var(--ff-main);

  // svg
}
