// -------------------------------- variables -------------------------------

@import 'base/vars';

// ---------------------------------- fonts ---------------------------------

// local fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base scss
@import 'base/set';
@import 'base/header';
@import 'base/menu';
@import 'base/layout';
@import 'base/footer';
@import 'base/homepage-table';

// lib
@import 'lib/swiper';
@import 'lib/videojs';

// common scss
@import 'common/typo';
@import 'common/btn';
@import 'common/forms';

.wrapper {
  position: relative;
}

html:not(._page-loaded) {
  overflow: hidden;
}
// --------------------------------------------------------------------------

// sections
@import 'sections/hero';
@import 'sections/about';
@import 'sections/team';
@import 'sections/leaders';
@import 'sections/teams';
@import 'sections/news';
@import 'sections/contacts';
@import 'sections/links';
